<html>
	<body>
		<form action="/products" method="post">
			<div>
				<label for="titulo">Title</label>
				<input type="text" id="titulo" name="titulo" placeholder="Insert the title" />
			</div>
			<div>
				<label for="preco">Price</label>
				<input type="text" id="preco" name="preco" placeholder="150.25" />
			</div>
			<div>
				<label for="descricao">Description</label>
				<textarea cols="10" rows="10" id="descricao" name="descricao" placeholder="Insert the description"></textarea>
			</div>
			<input type="submit" value="Save" />
		</form>
	</body>
</html>